/* Custom Scrollbar for that FocusOS feel */
.custom-scroll::-webkit-scrollbar {
    width: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(179, 165, 119, 0.2);
}

/* Fix for iOS momentum scrolling */
.overflow-y-auto {
    -webkit-overflow-scrolling: touch;
}

/* Prevent textareas from acting weird on focus */
textarea:focus,
input:focus {
    outline: none;
}

/* Sidebar Hover / Active Animations */
.group:hover span {
    letter-spacing: 3px;
}
